[Unit]
Description=RAS daemon to log the RAS events
After=syslog.target

[Service]
ExecStart=/usr/local/sbin/rasdaemon -f
Restart=on-abort

[Install]
WantedBy=multi-user.target
