.deps/
autom4te.cache/
misc/rasdaemon.spec
misc/ras-mc-ctl.service
misc/rasdaemon.service
Makefile
Makefile.in
config.h
config.h.in
config.h.in~
stamp-h1
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
rasdaemon
*.o
*.c~
*.h~
rasdaemon-*.tar.bz2
rasdaemon-*.src.rpm
