# SPDX-License-Identifier: GPL-2.0

name: CI

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  Ubuntu:
    name: Ubuntu
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [x64_64, aarch64, ppc64le]
    steps:
      - uses: actions/checkout@v2
      - name: prepare
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libsqlite3-dev sqlite3 libtraceevent-dev libtraceevent1
      - name: build
        run: |
          autoreconf -vfi
          ./configure --enable-all
          make
          sudo make install
      - name: checkpatch
        run:
          ./scripts/checkpatch.pl --terse --show-types --no-summary -f $(git ls-files|grep -E '\.[ch]$')
