name: Create release on tag

on:
  workflow_dispatch:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v[0-9]+*'

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - uses: actions/checkout@v2
      - name: Release changelog
        run: |
          .github/workflows/gen_release.pl body_file.tmp > version
          echo "version=$(cat version)" >> $GITHUB_ENV
      - name: Create Release
        id: create_release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body_path: body_file.tmp
          draft: false
          prerelease: true
      - name: Create Source Package for version ${{ env.version }}
        run: |
          autoreconf -vfi
          ./configure --enable-all
          make dist-bzip2
      - name: upload
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: mchehab/upload-release-asset@v1.0.3
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: rasdaemon-${{ env.version }}.tar.bz2
          asset_name: rasdaemon-${{ env.version }}.tar.bz2
          asset_content_type: application/bzip2
